In [1]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code
Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
import os

In [8]:
os.listdir('/gdrive/My Drive/Machine learning/')

['coincheckJPY_1-min_data_2014-10-31_to_2018-06-27.csv',
 'coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv',
 'bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv',
 'bitflyerJPY_1-min_data_2017-07-04_to_2018-06-27.csv']

In [0]:
df = pd.read_csv("/gdrive/My Drive/Machine learning/coinbaseUSD_1-min_data_2014-12-01_to_2018-06-27.csv")

In [11]:
df.head

<bound method DataFrame.head of           Timestamp     Open     High      Low    Close  Volume_(BTC)  \
0        1417411980   300.00   300.00   300.00   300.00      0.010000
1        1417412040   300.00   300.00   300.00   300.00      0.010000
2        1417412100   300.00   300.00   300.00   300.00      0.010000
3        1417412160   300.00   300.00   300.00   300.00      0.010000
4        1417412220   300.00   300.00   300.00   300.00      0.010000
5        1417412280   300.00   300.00   300.00   300.00      0.010000
6        1417412340   300.00   300.00   300.00   300.00      0.010000
7        1417412400   300.00   300.00   300.00   300.00      0.010000
8        1417412460   300.00   300.00   300.00   300.00      0.010000
9        1417412520   300.00   300.00   300.00   300.00      0.010000
10       1417412580   300.00   300.00   300.00   300.00      0.010000
11       1417412640   300.00   300.00   300.00   300.00      0.010000
12       1417412700   300.00   300.00   300.00   300.00      0.010000
13       1417412760   300.00   300.00   300.00   300.00      0.010000
14       1417412820   300.00   300.00   300.00   300.00      0.010000
15       1417412880   300.00   300.00   300.00   300.00      0.010000
16       1417412940   300.00   300.00   300.00   300.00      0.010000
17       1417413000   300.00   300.00   300.00   300.00      0.010000
18       1417413060   300.00   300.00   300.00   300.00      0.010000
19       1417413120   300.00   300.00   300.00   300.00      0.010000
20       1417413180   300.00   300.00   300.00   300.00      0.010000
21       1417413240   300.00   300.00   300.00   300.00      0.010000
22       1417413300   300.00   300.00   300.00   300.00      0.010000
23       1417413360   300.00   300.00   300.00   300.00      0.010000
24       1417413420   300.00   300.00   300.00   300.00      0.010000
25       1417413480   300.00   300.00   300.00   300.00      0.010000
26       1417413540   300.00   300.00   300.00   300.00      0.010000
27       1417413600   300.00   300.00   300.00   300.00      0.010000
28       1417413660   300.00   300.00   300.00   300.00      0.010000
29       1417413720   300.00   300.00   300.00   300.00      0.010000
...             ...      ...      ...      ...      ...           ...
1819044  1530055860  6138.05  6138.05  6131.00  6131.00      3.912121
1819045  1530055920  6131.01  6131.01  6120.84  6120.84     38.624883
1819046  1530055980  6120.83  6120.83  6119.13  6119.13     26.353725
1819047  1530056040  6119.13  6119.14  6105.52  6105.52     18.117768
1819048  1530056100  6105.52  6107.02  6100.35  6100.35     22.443270
1819049  1530056160  6100.01  6104.19  6092.11  6103.48     12.532631
1819050  1530056220  6103.47  6119.13  6095.11  6109.01     18.790399
1819051  1530056280  6109.02  6109.02  6100.00  6100.01      7.631874
1819052  1530056340  6100.00  6100.01  6096.19  6096.19      7.210643
1819053  1530056400  6095.35  6111.67  6095.35  6111.67      4.117127
1819054  1530056460  6111.66  6111.67  6107.53  6109.99      3.666525
1819055  1530056520  6109.99  6110.00  6101.48  6103.70      3.929562
1819056  1530056580  6103.56  6103.57  6089.04  6097.05     32.778777
1819057  1530056640  6103.32  6103.58  6103.32  6103.58      2.420030
1819058  1530056700  6103.58  6103.58  6091.00  6099.46      4.066706
1819059  1530056760  6099.47  6099.47  6006.39  6049.54    328.442812
1819060  1530056820  6049.54  6068.25  6048.00  6068.24     96.390870
1819061  1530056880  6068.25  6079.99  6066.81  6066.81     14.085675
1819062  1530056940  6066.09  6066.10  6048.00  6048.01     16.698673
1819063  1530057000  6051.01  6065.99  6051.01  6059.99      8.968766
1819064  1530057060  6060.00  6065.99  6059.99  6065.99      7.226659
1819065  1530057120  6065.99  6079.06  6065.98  6078.06     29.526121
1819066  1530057180  6078.06  6078.06  6060.00  6065.98     17.584980
1819067  1530057240  6065.98  6070.15  6065.00  6065.00      1.244344
1819068  1530057300  6065.00  6070.16  6060.01  6064.02      2.516637
1819069  1530057360  6064.03  6080.00  6064.03  6080.00     10.561973
1819070  1530057420  6080.00  6080.00  6071.52  6077.99      0.682001
1819071  1530057480  6078.00  6081.00  6077.99  6081.00      5.710185
1819072  1530057540  6081.00  6085.70  6074.00  6074.00     20.892658
1819073  1530057600  6074.01  6074.01  6071.52  6071.53     33.898112

         Volume_(Currency)  Weighted_Price
0             3.000000e+00      300.000000
1             3.000000e+00      300.000000
2             3.000000e+00      300.000000
3             3.000000e+00      300.000000
4             3.000000e+00      300.000000
5             3.000000e+00      300.000000
6             3.000000e+00      300.000000
7             3.000000e+00      300.000000
8             3.000000e+00      300.000000
9             3.000000e+00      300.000000
10            3.000000e+00      300.000000
11            3.000000e+00      300.000000
12            3.000000e+00      300.000000
13            3.000000e+00      300.000000
14            3.000000e+00      300.000000
15            3.000000e+00      300.000000
16            3.000000e+00      300.000000
17            3.000000e+00      300.000000
18            3.000000e+00      300.000000
19            3.000000e+00      300.000000
20            3.000000e+00      300.000000
21            3.000000e+00      300.000000
22            3.000000e+00      300.000000
23            3.000000e+00      300.000000
24            3.000000e+00      300.000000
25            3.000000e+00      300.000000
26            3.000000e+00      300.000000
27            3.000000e+00      300.000000
28            3.000000e+00      300.000000
29            3.000000e+00      300.000000
...                    ...             ...
1819044       2.399707e+04     6134.030831
1819045       2.367755e+05     6130.128486
1819046       1.612907e+05     6120.222838
1819047       1.108240e+05     6116.866147
1819048       1.369749e+05     6103.161193
1819049       7.639967e+04     6096.059759
1819050       1.148144e+05     6110.269641
1819051       4.658682e+04     6104.244173
1819052       4.398471e+04     6099.970525
1819053       2.512208e+04     6101.846787
1819054       2.240357e+04     6110.300305
1819055       2.399803e+04     6107.050568
1819056       1.997259e+05     6093.147650
1819057       1.477083e+04     6103.571977
1819058       2.479840e+04     6097.908276
1819059       1.987433e+06     6051.078196
1819060       5.837419e+05     6055.987154
1819061       8.555354e+04     6073.797829
1819062       1.011007e+05     6054.412458
1819063       5.431224e+04     6055.709674
1819064       4.380306e+04     6061.315276
1819065       1.791363e+05     6067.046199
1819066       1.067265e+05     6069.185637
1819067       7.550332e+03     6067.721299
1819068       1.526347e+04     6065.027431
1819069       6.414883e+04     6073.564990
1819070       4.145298e+03     6078.136687
1819071       3.470863e+04     6078.372515
1819072       1.270504e+05     6081.105271
1819073       2.058961e+05     6073.969960

[1819074 rows x 8 columns]>

In [12]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [13]:
df['High']

0           300.00
1           300.00
2           300.00
3           300.00
4           300.00
5           300.00
6           300.00
7           300.00
8           300.00
9           300.00
10          300.00
11          300.00
12          300.00
13          300.00
14          300.00
15          300.00
16          300.00
17          300.00
18          300.00
19          300.00
20          300.00
21          300.00
22          300.00
23          300.00
24          300.00
25          300.00
26          300.00
27          300.00
28          300.00
29          300.00
            ...
1819044    6138.05
1819045    6131.01
1819046    6120.83
1819047    6119.14
1819048    6107.02
1819049    6104.19
1819050    6119.13
1819051    6109.02
1819052    6100.01
1819053    6111.67
1819054    6111.67
1819055    6110.00
1819056    6103.57
1819057    6103.58
1819058    6103.58
1819059    6099.47
1819060    6068.25
1819061    6079.99
1819062    6066.10
1819063    6065.99
1819064    6065.99
1819065    6079.06
1819066    6078.06
1819067    6070.15
1819068    6070.16
1819069    6080.00
1819070    6080.00
1819071    6081.00
1819072    6085.70
1819073    6074.01
Name: High, Length: 1819074, dtype: float64

In [14]:
df.describe()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06,1.819074e+06
mean,1.475477e+09,2.675297e+03,2.676668e+03,2.673809e+03,2.675296e+03,7.655652e+00,3.362466e+04,2.675235e+03
std,3.152261e+07,3.825363e+03,3.827901e+03,3.822689e+03,3.825395e+03,1.808389e+01,1.414530e+05,3.825293e+03
min,1.417412e+09,6.000000e-02,6.000000e-02,6.000000e-02,6.000000e-02,1.000000e-08,2.641700e-06,6.000000e-02
25%,1.448199e+09,3.632800e+02,3.633800e+02,3.631900e+02,3.632700e+02,7.821000e-01,4.139733e+02,3.632763e+02
50%,1.475485e+09,6.665400e+02,6.666900e+02,6.663400e+02,6.665300e+02,2.590000e+00,2.171610e+03,6.665237e+02
75%,1.502772e+09,3.666010e+03,3.668000e+03,3.663780e+03,3.665940e+03,7.540866e+00,1.456778e+04,3.665488e+03
max,1.530058e+09,1.989199e+04,1.989199e+04,1.989198e+04,1.989199e+04,1.563267e+03,1.997076e+07,1.989199e+04